@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #d86812;
  --color-font: #00040a;
  --font-oswald: "Oswald", sans-serif;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee-scroll 40s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
